body {
  background-color: #edeef1;
}

body.index {
  background-image: url("images/bgloginmob.jpg");
}

main {
  margin-top: 30px;
  position: relative;
}

section {
  margin: 30px;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #8c94c5;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  margin: 50px;
}

button.btn-custom {
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  background-color: #8c94c5;
  color: #fff;
  border: none;
  padding: 6px 17px;
  margin-left: 10px;
}

/* Tela Inicial */
header {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header h1 {
  font-size: 5rem;
  color: #fff;
}

form.login-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

form.login-page label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

form.login-page input {
  width: 100%;
  border: 2px solid #fff;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

footer.footer-index {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

span.message {
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  font-size: 1.5rem;
}

a.a-login {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

/* Menu */
nav {
  background-color: #000;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px;
}

nav h1 {
  font-size: 2rem;
  margin: 0px;
}

ul.container {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-between;
}

ul.container li {
  margin: 0px 10px;
}

ul.container li a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Lista de jogos */
.all-games {
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
  padding: 0px 30px;
  overflow: auto;
}

.all-games li {
  list-style: none;
  background-color: #97c58c;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
}

/* Post Area */
form.post {
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 2px 2px 4px #dadada;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

textarea.publish-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cacaca;
  word-wrap: break-word;
  word-break: break-word;
}

.filters {
  top: 3px;
  position: relative;
}

.filters label {
  margin-right: 10px;
}

button.publish {
  width: 105px;
  align-self: flex-end;
}

.choose-view-filter {
  border-top: 1px solid #bbb;
  padding: 20px 0px;
}

.choose-view-filter label {
  margin-right: 10px;
}

button.btn-choose {
  background-color: #fff;
  border: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
/* Posts list */
ul.input-list {
  list-style: none;
  padding: 0;
}

ul.input-list li {
  background-color: #fff;
  padding: 30px;
  box-shadow: 2px 2px 4px #dadada;
  border-radius: 5px;
  margin-bottom: 11px;
}

ul.input-list button {
  margin-right: 7px;
}

/* Profile */
section#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  margin: 58px 0px 30px;
  padding: 30px;
}

div#profile-picture {
  width: 50vw;
  height: 50vw;
  background-color: #fdcece;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d86d6d;
}

div#profile-name {
  font-size: 2rem;
  font-family: 'Russo One', sans-serif;
  margin-top: 14px;
}

div#profile-description {
  padding: 10px 20px 20px 20px;
  text-align: center;
}

.other-profiles li {
  background-color: #fff;
  list-style: none;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.logout {
  bottom: 0%;
  text-align: center;
}

a.a-logout {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 3px;
  border-bottom: 1px solid;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 577px) {
  body.index {
    background-image: url("images/bgloginlg.jpg");
  }
  
  main {
    width: 576px;
    margin: auto;
    position: relative;
}

  div#profile-picture {
    width: 200px;
    height: 200px;
  }
}